@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000000;
  /*background-size: 100% auto;*/
  /*background-position: top center;*/
  /*background-image: url("assets/images/bg-img-2.png");*/
  /*background-repeat: no-repeat;*/
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  position: relative;
}

body:before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-size: 100% auto;
  background-position: top center;
  background-image: url("assets/images/bg-img-2.png");
  background-repeat: no-repeat;
}
